<div class="login-page">
    <div class="login-myself">
        <div class="login-title-background">
            <img class="login-logo" src="images/group.png" alt="图片走丢了！">
            <div class="login-title">高 效 客 户 管 理 系 统</div>
        </div>
        <div class="login-write">
            <div class="model1">
                <span class="fa-user1"></span><input class="Verification-user" type="text"
                                                                ng-model="nameLogin">
            </div>
            <div class="model1"><span class="fa-lock"></span><input type="password" class="Verification-password"
                                                                       ng-model="pasLogin"></div>
        </div>
        <div class="remember-me">
            <i class="page-check-p remember-me-icon" style="position: relative;top: 4px"></i>
            <input class="remember-me-check" type="checkbox" style="display: none">&nbsp;
            <span>记住我</span>
        </div>
        <div class="login-tishi">

        </div>
        <button class="sure-button-new" ng-click="sendMsg()">登录</button>
    </div>

</div>
