<div class="page-box">
    <div class="wx-group-box">
        <div class="wx-group-title">
            <!--<span class="wx-logo"></span>-->
            <h2>设备组选择</h2>
        </div>
        <div class="wx-group-list">
            <div class="new-wx-group-all-title">
                <h2 class="new-wx-group-all">所有群组</h2>
                <h3 class="new-wx-group-number">({{groupNumbers}})</h3>
            </div>
            <label class="page14-qx-input">
                <p>
                    <input type="checkbox"  group-check-all>
                </p>
            </label>
            <ul class="new-wx-group-list">
                <li class="new-wx-group-list-li" ng-repeat="g in onlineGroupNames">
                    <div><p><input type="checkbox" group-check-all></p><h4 new-list-show>{{g.name}}</h4><h5 new-list-show>{{g.count}}</h5></div>
                    <ul style="display: none">
                        <li ng-repeat="d in g.deviceVos"><label><p><input type="checkbox" group-check-one class="new-wx-equip-input8"></p><h2 title="{{d.device}}">{{d.rank}}</h2></label></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--<div class="algorithm-install">-->
        <!--<h2>算法配置</h2>-->
        <!--<ul>-->
        <!--<li>粒子布局算法:-->
        <!--<select ng-model="mapRang">-->
        <!--<option>2000米</option>-->
        <!--<option>5000米</option>-->
        <!--</select>-->
        <!--</li>-->
        <!--<li>时间间隔: <input type="number" min="1" ng-model="timeInterval"> 秒</li>-->
        <!--<li>加入数量: <input type="number" min="1" disabled></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div class="page8-say-hello">-->
        <!--<h2>打招呼用语</h2>-->
        <!--<input type="text" ng-model="sayHello">-->
        <!--</div>-->
        <!--<a class="page8-left-button" ng-click="sendAll()">点击执行</a>-->
    </div>
    <div class="page-inside-box">
        <div class="page-inside-title">
            <a id="page-top23"></a>
            <h2 class="page-title">陌陌附近的人</h2></a>
            <div class="page-inside-user">
                <span></span>
                <p>USER</p>
            </div>
        </div>
        <!--<div class="page8-floor-one" id="page8-map"></div>-->
        <!--<div id="r-result8">请输入:<input type="text" id="suggestId" size="20" value="百度" ng-model="mapLocation"/></div>-->
        <!--<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>-->
        <div class="page-floor-title">
            <span class="page-floor-title-logo count"></span>
            <h2>算法配置</h2>
        </div>
        <div class="page8-floor-count page-s-box">
            <ul>
                <!--<li>-->
                    <!--粒子布局算法:-->
                    <!--<select ng-model="mapRang">-->
                        <!--<option>2000米</option>-->
                        <!--<option>5000米</option>-->
                    <!--</select>-->
                <!--</li>-->
                <li>时间间隔: <input type="number" class="page8-number-input-s" ng-model="timeInterval"> 秒</li>
                <!--<li>打招呼用语: <input type="text" class="page8-input-bb" ng-model="sayHello"> </li>-->
            </ul>
            <ul class="page8-ass-list">
                <li>加人数量: <input type="number" class="add-people-number" ng-model="addPeopleNumber"></li>
                <li>
                    性别:
                    <select class="page8-ass-select" style="width:60px;" ng-model="addSex">
                        <option>全部</option>
                        <option>男</option>
                        <option>女</option>
                    </select>
                </li>
            </ul>
            <a class="page8-left-button" ng-click="sendAll()">点击执行</a>
        </div>
    </div>
</div>