<div class="page-box">
    <div class="wx-group-box">
        <div class="wx-group-title">
            <!--<span class="wx-logo"></span>-->
            <h2>设备组选择</h2>
        </div>
        <div class="wx-group-list">
            <div class="new-wx-group-all-title">
                <h2 class="new-wx-group-all">所有群组</h2>
                <h3 class="new-wx-group-number">({{groupNumbers}})</h3>
            </div>
            <label class="page14-qx-input">
                <p >
                    <input type="checkbox" group-check-all-fif mess_id="{{g.id}}">
                </p>
            </label>
            <ul class="new-wx-group-list">
                <li class="new-wx-group-list-li" ng-repeat="g in onlineGroupNames">
                    <div><p><input type="checkbox" group-check-all-fif mess_id="{{g.id}}"></p><h4 new-list-show>
                        {{g.name}}</h4><h5 new-list-show>{{g.count}}</h5></div>
                    <ul style="display: none">
                        <li ng-repeat="d in g.deviceVos"><label><p><input type="checkbox" group-check-one-fif
                                                                          class="new-wx-equip-input15"></p>
                            <h2 title="{{d.device}}">{{d.rank}}</h2></label></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-inside-box">
        <div class="page-inside-title">
            <a id="page-top15"></a>
            <a ng-click="getNav()" class="get-back-logo"></a>
            <h2 class="page-title">清理僵尸粉</h2></a>
            <div class="page-inside-user">
                <span></span>
                <p>USER</p>
            </div>
        </div>
        <!--<div class="page-floor-title">-->
        <!--<span class="page-floor-title-logo phone"></span>-->
        <!--<h2>僵尸粉列表</h2>-->
        <!--</div>-->
        <!--<div class="page6-floor-one">-->
        <!--<div class="way-to-box">-->
        <!--<ul class="way-to-list">-->
        <!--<li class="way-to-li first-li">-->
        <!--<ul>-->
        <!--<li class="title-li">微信名称</li>-->
        <!--<li class="title-li">微信号</li>-->
        <!--<li class="title-li">添加时间</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li class="way-to-li" ng-repeat="z in zombieList" ng-class="isEven($index)">-->
        <!--<ul>-->
        <!--<li>{{z.name||'-'}}</li>-->
        <!--<li>{{z.wechat_number||'-'}}</li>-->
        <!--<li>{{z.time||'-'}}</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div class="fucking-pages" id="pages15"></div>-->
        <!--</div>-->
        <div class="page-floor-title">
            <span class="page-floor-title-logo install"></span>
            <h2>配置策略</h2>
        </div>
        <div class="page15-floor-two">
            <ul class="page15-two-left">
                <!--<li>清理僵尸粉时间间隔： <input type="number" min="1" class="page15-number" ng-model="timeInterval"> 秒</li>-->
                <li>
                    清理僵尸最大时间间隔: <input type="number" min="5" max="10" class="page15-number" ng-model="maxTime"> 秒
                </li>
                <li>
                    清理僵尸最小时间间隔: <input type="number" min="1" max="5" class="page15-number" ng-model="minTime"> 秒
                </li>
                <li class="page7-last-li " style="position: absolute">
                    <h2>打招呼用语:</h2>
                    <select class="page7-select-type page15-align  clickSelect"
                            style="float: left;margin-left: 88px;height: 32px;width: 150px">
                        <option value="1" ng-click="selectone()">统一话术用语</option>
                        <option value="2" ng-click="selecteverone()">随机话术用语</option>
                    </select>


                </li>
                <li>
                    <h3 style="display: none;margin-top: 80px;margin-left: 5px" class="clickAddText"><input type="file"
                                                                                                            accept=".XLS,.xlsx"
                                                                                                            upload-file
                                                                                                            ng-click="clickAddText()">导入话术文件
                    </h3>
                    <div contenteditable="true" id="FontAndEmjoy15"
                         class="FontAndEmjoy15  flag1 page9-say-hello">

                    </div>
                </li>
            </ul>
            <div class="emjoyDiv-page15">
                <span class="emjoyOpen-page15"></span>
                <div class="emjoyList-page15" style="display: none" id="emjoyList-page16">
                    <ul>
                        <li><img class="gg" src="images/100.gif" alt="[微笑]"></li>
                        <li><img class="gg" src="images/101.gif" alt="[撇嘴]"></li>
                        <li><img class="gg" src="images/102.gif" alt="[色]"></li>
                        <li><img class="gg" src="images/103.gif" alt="[发呆]"></li>
                        <li><img class="gg" src="images/104.gif" alt="[得意]"></li>
                        <li><img class="gg" src="images/105.gif" alt="[流泪]"></li>
                        <li><img class="gg" src="images/106.gif" alt="[害羞]"></li>
                        <li><img class="gg" src="images/107.gif" alt="[闭嘴]"></li>
                        <li><img class="gg" src="images/108.gif" alt="[睡]"></li>
                        <li><img class="gg" src="images/109.gif" alt="[大哭]'("></li>
                    </ul>
                    <ul>
                        <li><img class="gg" src="images/110.gif" alt="[尴尬]"></li>
                        <li><img class="gg" src="images/111.gif" alt="[发怒]"></li>
                        <li><img class="gg" src="images/112.gif" alt="[调皮]"></li>
                        <li><img class="gg" src="images/113.gif" alt="[呲牙]"></li>
                        <li><img class="gg" src="images/114.gif" alt="[惊讶]"></li>
                        <li><img class="gg" src="images/115.gif" alt="[难过]"></li>
                        <li><img class="gg" src="images/116.gif" alt="[酷]"></li>
                        <li><img class="gg" src="images/117.gif" alt="[冷汗]"></li>
                        <li><img class="gg" src="images/118.gif" alt="[抓狂]"></li>
                        <li><img class="gg" src="images/119.gif" alt="[吐]"></li>
                    </ul>
                    <ul>
                        <li><img class="gg" src="images/120.gif" alt="[偷笑]"></li>
                        <li><img class="gg" src="images/121.gif" alt="[愉快]"></li>
                        <li><img class="gg" src="images/122.gif" alt="[白眼]"></li>
                        <li><img class="gg" src="images/123.gif" alt="[傲慢]"></li>
                        <li><img class="gg" src="images/124.gif" alt="[饥饿]"></li>
                        <li><img class="gg" src="images/125.gif" alt="[困]"></li>
                        <li><img class="gg" src="images/126.gif" alt="[惊恐]"></li>
                        <li><img class="gg" src="images/127.gif" alt="[流汗]"></li>
                        <li><img class="gg" src="images/128.gif" alt="[憨笑]"></li>
                        <li><img class="gg" src="images/129.gif" alt="[悠闲]"></li>
                    </ul>
                    <ul>
                        <li><img class="gg" src="images/130.gif" alt="[奋斗]"></li>
                        <li><img class="gg" src="images/131.gif" alt="[咒骂]"></li>
                        <li><img class="gg" src="images/132.gif" alt="[疑问]"></li>
                        <li><img class="gg" src="images/133.gif" alt="[嘘]"></li>
                        <li><img class="gg" src="images/134.gif" alt="[晕]"></li>
                        <li><img class="gg" src="images/135.gif" alt="[疯了]"></li>
                        <li><img class="gg" src="images/136.gif" alt="[衰]"></li>
                        <li><img class="gg" src="images/137.gif" alt="[骷髅]"></li>
                        <li><img class="gg" src="images/138.gif" alt="[敲打]"></li>
                        <li><img class="gg" src="images/139.gif" alt="[再见]"></li>
                    </ul>
                    <ul>
                        <li><img class="gg" src="images/140.gif" alt="[擦汗]"></li>
                        <li><img class="gg" src="images/141.gif" alt="[抠鼻]"></li>
                        <li><img class="gg" src="images/142.gif" alt="[鼓掌]"></li>
                        <li><img class="gg" src="images/143.gif" alt="[糗大了]"></li>
                        <li><img class="gg" src="images/144.gif" alt="[坏笑]"></li>
                        <li><img class="gg" src="images/145.gif" alt="[左哼哼]"></li>
                        <li><img class="gg" src="images/146.gif" alt="[右哼哼]"></li>
                        <li><img class="gg" src="images/147.gif" alt="[哈欠]"></li>
                        <li><img class="gg" src="images/148.gif" alt="[鄙视]"></li>
                        <li><img class="gg" src="images/149.gif" alt="[委屈]"></li>
                    </ul>
                    <ul>
                        <li><img class="gg" src="images/150.gif" alt="[快哭了]"></li>
                        <li><img class="gg" src="images/151.gif" alt="[阴险]"></li>
                        <li><img class="gg" src="images/152.gif" alt="[亲亲]"></li>
                        <li><img class="gg" src="images/153.gif" alt="[吓]"></li>
                        <li><img class="gg" src="images/154.gif" alt="[可怜]"></li>
                        <li><img class="gg" src="images/155.gif" alt="[菜刀]"></li>
                        <li><img class="gg" src="images/156.gif" alt="[西瓜]"></li>
                        <li><img class="gg" src="images/157.gif" alt="[啤酒]"></li>
                        <li><img class="gg" src="images/158.gif" alt="[篮球]"></li>
                        <li><img class="gg" src="images/159.gif" alt="[乒乓]"></li>
                    </ul>
                    <ul>
                        <li><img class="gg" src="images/160.gif" alt="[咖啡]"></li>
                        <li><img class="gg" src="images/161.gif" alt="[饭]"></li>
                        <li><img class="gg" src="images/162.gif" alt="[猪头]"></li>
                        <li><img class="gg" src="images/163.gif" alt="[玫瑰]"></li>
                        <li><img class="gg" src="images/166.gif" alt="[爱心]"></li>
                        <li><img class="gg" src="images/167.gif" alt="[心碎]"></li>
                        <li><img class="gg" src="images/168.gif" alt="[蛋糕]"></li>
                        <li><img class="gg" src="images/169.gif" alt="[闪电]"></li>
                        <li><img class="gg" src="images/203.gif" alt="[左太极]"></li>
                        <li><img class="gg" src="images/204.gif" alt="[右太极]"></li>
                    </ul>
                    <ul>
                        <li><img class="gg" src="images/170.gif" alt="[炸弹]"></li>
                        <li><img class="gg" src="images/171.gif" alt="[刀]"></li>
                        <li><img class="gg" src="images/172.gif" alt="[足球]"></li>
                        <li><img class="gg" src="images/173.gif" alt="[瓢虫]"></li>
                        <li><img class="gg" src="images/174.gif" alt="[便便]"></li>
                        <li><img class="gg" src="images/175.gif" alt="[月亮]"></li>
                        <li><img class="gg" src="images/176.gif" alt="[太阳]"></li>
                        <li><img class="gg" src="images/177.gif" alt="[礼物]"></li>
                        <li><img class="gg" src="images/178.gif" alt="[拥抱]"></li>
                        <li><img class="gg" src="images/179.gif" alt="[强]"></li>
                    </ul>
                    <ul>
                        <li><img class="gg" src="images/180.gif" alt="[弱]"></li>
                        <li><img class="gg" src="images/181.gif" alt="[握手]"></li>
                        <li><img class="gg" src="images/182.gif" alt="[胜利]"></li>
                        <li><img class="gg" src="images/183.gif" alt="[抱拳]"></li>
                        <li><img class="gg" src="images/184.gif" alt="[勾引]"></li>
                        <li><img class="gg" src="images/185.gif" alt="[拳头]"></li>
                        <li><img class="gg" src="images/186.gif" alt="[差劲]"></li>
                        <li><img class="gg" src="images/187.gif" alt="[爱你]"></li>
                        <li><img class="gg" src="images/188.gif" alt="[NO]"></li>
                        <li><img class="gg" src="images/189.gif" alt="[OK]"></li>
                    </ul>
                    <ul>
                        <li><img class="gg" src="images/190.gif" alt="[爱情]"></li>
                        <li><img class="gg" src="images/191.gif" alt="[飞吻]"></li>
                        <li><img class="gg" src="images/192.gif" alt="[跳跳]"></li>
                        <li><img class="gg" src="images/193.gif" alt="[发抖]"></li>
                        <li><img class="gg" src="images/194.gif" alt="[怄火]"></li>
                        <li><img class="gg" src="images/195.gif" alt="[转圈]"></li>
                        <li><img class="gg" src="images/196.gif" alt="[磕头]"></li>
                        <li><img class="gg" src="images/197.gif" alt="[回头]"></li>
                        <li><img class="gg" src="images/198.gif" alt="[跳绳]"></li>
                        <li><img class="gg" src="images/199.gif" alt="[投降]"></li>
                    </ul>
                    <ul>
                        <li><img class="gg" src="images/200.gif" alt="[激动]"></li>
                        <li><img class="gg" src="images/201.gif" alt="[乱舞]"></li>
                        <li><img class="gg" src="images/202.gif" alt="[献吻]"></li>

                    </ul>
                </div>
            </div>
            <!--<div class="page15-two-middle">-->
            <!--<h2>您想对僵尸粉说点什么:</h2>-->
            <!--<textarea placeholder="说点什么..." ng-model="saySomething" class="sayHelloText"></textarea>-->

            <!--&lt;!&ndash;<h3 class="clickAddText"><input type="file" accept=".XLS,.xlsx" get-ass-seven ng-click="clickAddText()">导入话术文件</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<select class="page7-select"  name="选取话术..." ng-show="select">&ndash;&gt;-->
            <!--&lt;!&ndash;<option   value="1">请选择相关话术</option>&ndash;&gt;-->
            <!--&lt;!&ndash;<option   value="6">晚上好</option>&ndash;&gt;-->
            <!--&lt;!&ndash;<option   value="3">下班了</option>&ndash;&gt;-->
            <!--&lt;!&ndash;<option   value="6">周六去吗</option>&ndash;&gt;-->
            <!--&lt;!&ndash;<option   value="3">恩恩好的</option>&ndash;&gt;-->
            <!--&lt;!&ndash;</select>&ndash;&gt;-->
            <!--</div>-->
            <a class="page15-sure-button" ng-click="sendAll()">点击执行</a>
        </div>
    </div>
</div>